@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Ubuntu, system-ui, sans-serif;
  }

  #root {
    overflow-y: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Merriweather;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 0.5rem;
}
::-webkit-scrollbar:horizontal {
  height: 0.5rem;
}
::-webkit-scrollbar-thumb {
  border: 0.063rem solid #00a35c;
  border-radius: 0.5rem;
  background-color: #1f1f1f;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
